.App {
	text-align: center;
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.calendar-container {
	display: flex;
	flex-direction: column;

	flex-basis: 75%;
}

.calendar-header {
	flex-basis: 7.5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.weekdays-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-basis: 2.5vh;
}

.weekday-single {
	flex-basis: 12%;
	flex-grow: 1;
	font-size: 1.2em;
}

.month-change-container {
	flex-basis: 10%;
}
.month-heading-container {
	flex-basis: 80%;
}

.month-change-button {
	border: none;
	width: 100%;
	background-color: transparent;
	font-size: 2em;
	color: lightgrey;
}

.App-link {
	color: #61dafb;
}

.todo-container {
	flex-basis: 25%;
	background-color: lightgrey;
}
