.App {
	text-align: center;
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.calendar-container {
	display: flex;
	flex-direction: column;

	flex-basis: 75%;
}

.calendar-header {
	flex-basis: 7.5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border-bottom: 1px solid lightgrey;
}

.weekdays-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-basis: 2.5vh;
}

.weekday-single {
	flex-basis: 12%;
	flex-grow: 1;
	font-size: 1.2em;
	border: 1px solid lightgrey;
}
.weekday-single:last-child {
	border-right: none;
}

.calendar-grid {
	display: flex;
	flex-direction: column;

	flex-shrink: 0;
	flex-grow: 1;
}

.calendar-week {
	display: flex;
	flex-direction: row;

	flex-grow: 1;
}

.day {
	flex-basis: 14%;
	flex-grow: 1;
	flex-shrink: 0;
}
.weekday {
	background-color: white;
	border: 1px solid lightgrey;
}
.weekend {
	background-color: lightgrey;
	border: 1px solid darkgrey;
}
.dummy {
	background-color: white;
	border: 1px solid lightgrey;
}
.day-number {
	text-align: left;
	font-size: 1.6em;
	margin-top: 5px;
	margin-left: 5px;
}

.month-change-container {
	flex-basis: 10%;
}
.month-heading-container {
	flex-basis: 80%;
}

.month-change-button {
	border: none;
	width: 100%;
	background-color: transparent;
	font-size: 2em;
	color: lightgrey;
}

.App-link {
	color: #61dafb;
}

.todo-container {
	flex-basis: 25%;
	background-color: lightgrey;
	border-left: 1px solid black;
}
